<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <section class="bg-light py-5" th:fragment="about">
                <div class="container px-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-xxl-8">
                            <div class="text-center my-5">
                                <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2>
                                <p class="lead fw-light mb-4">Software Developer and Cybersecurity Enthusiast.</p>
                                <p class="text-muted">
                                    I am a recent graduate of the University of Central Florida with a bachelor's degree in computer science and a strong passion for cybersecurity, DevOps, and software development. 
                                    My interests include network security, threat mitigation, secure software engineering, and designing resilient cloud-native systems. 
                                    I have hands-on experience working with Python, C++, C, C#, and Java, as well as practical experience with DevOps methodologies and vulnerability management workflows.

                                    I enjoy tackling complex technical problems, learning new technologies, and contributing to secure, scalable engineering solutions. 
                                    I'm actively seeking a full-time role where I can utilize my skills, grow professionally, and make a meaningful impact on a forward-thinking engineering or security team.
                                </p>
                                <div class="d-flex justify-content-center fs-2 gap-4">
                                    <a class="text-gradient" href="https://leetcode.com/u/Twinslow128/" target="_blank"><i class="bi bi-file-code-fill"></i></a>
                                    <a class="text-gradient" href="https://www.linkedin.com/in/thomaswins" target="_blank"><i class="bi bi-linkedin"></i></a>
                                    <a class="text-gradient" href="https://github.com/thomaswins" target="_blank"><i class="bi bi-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </body>
</html>