name: CI/CD Spring Boot to Lightsail

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 25

      - run: mvn clean package -DskipTests

      - uses: actions/upload-artifact@v4
        with:
          name: portfolio-jar
          path: target/portfolio-0.0.1-SNAPSHOT.jar

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: portfolio-jar
          path: ./artifact

      - name: Verify artifact
        run: ls -lah artifact

      - name: Copy JAR to Lightsail
        uses: appleboy/scp-action@v0.1.3
        with:
          host: ${{ secrets.LIGHTSAIL_IP }}
          username: ubuntu
          key: ${{ secrets.LIGHTSAIL_SSH_KEY }}
          source: artifact/portfolio-0.0.1-SNAPSHOT.jar
          target: /home/ubuntu/artifact
          strip_components: 1

      - name: Restart Spring Boot
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.LIGHTSAIL_IP }}
          username: ubuntu
          key: ${{ secrets.LIGHTSAIL_SSH_KEY }}
          script: |
            sudo systemctl stop portfolio || true
            sudo systemctl daemon-reload
            sudo systemctl restart portfolio
            sudo systemctl status portfolio --no-pager


