name: CI/CD Spring Boot to Lightsail

on:
  push:
    branches:
      - main  # deploy only from main branch

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Java 25
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 25

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: portfolio-jar
          path: target/*.jar

  deploy:
    name: Deploy to Lightsail
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: portfolio-jar
          path: ./artifact

      - name: Copy JAR to Lightsail
        uses: appleboy/scp-action@v0.1.3
        with:
          host: ${{ secrets.LIGHTSAIL_IP }}
          username: ubuntu
          key: ${{ secrets.LIGHTSAIL_SSH_KEY }}
          port: 22
          source: target/portfolio-0.0.1-SNAPSHOT.jar
          target: /home/ubuntu/artifact/


      - name: Restart Spring Boot on Lightsail
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.LIGHTSAIL_IP }}
          username: ubuntu
          key: ${{ secrets.LIGHTSAIL_SSH_KEY }}
          port: 22
          script: |
            cd /home/ubuntu

            # Stop service if running
            sudo systemctl stop portfolio || true

            DEPLOY_DIR=/home/ubuntu/artifact
            JAR_NAME=portfolio-0.0.1-SNAPSHOT.jar

            cd $DEPLOY_DIR || exit 1

            # Backup old jar
            if [ -f $JAR_NAME ]; then
              mv $JAR_NAME ${JAR_NAME}.bak
            fi

            # Move uploaded jar into place
            mv /home/ubuntu/*.jar $JAR_NAME

            chmod 644 $JAR_NAME

            sudo systemctl daemon-reload
            sudo systemctl restart portfolio

            sudo systemctl status portfolio --no-pager

